/* ------------------------------------------
  SITE COLORS
---------------------------------------------

  White
  #fff;
  rgba(255,255,255,1);
  
  Black
  #0e0e0c;
  rgba(14,14,12,1);
*/


/* ------------------------------------------
  BASE SITE STYLES
--------------------------------------------- */

html {
  font-size: 16px;
  height: 100%;
  overflow: visible;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
  margin: 0 auto !important;
  padding: 0;
  background-color: #fff;
  overflow: visible;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

.content {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


/* ------------------------------------------
  FONTS
--------------------------------------------- */

@font-face {
  font-family: "metropolis-light";
    src: url("../fonts/metropolis/metropolis-light.eot");
    src: url("../fonts/metropolis/metropolis-light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-light.woff") format("woff"),
         url("../fonts/metropolis/metropolis-light.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "metropolis-regular";
    src: url("../fonts/metropolis/metropolis-regular.eot");
    src: url("../fonts/metropolis/metropolis-regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-regular.woff") format("woff"),
         url("../fonts/metropolis/metropolis-regular.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "metropolis-bold";
    src: url("../fonts/metropolis/metropolis-bold.eot");
    src: url("../fonts/metropolis/metropolis-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-bold.woff") format("woff"),
         url("../fonts/metropolis/metropolis-bold.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "metropolis-black";
    src: url("../fonts/metropolis/metropolis-black.eot");
    src: url("../fonts/metropolis/metropolis-black.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-black.woff") format("woff"),
         url("../fonts/metropolis/metropolis-black.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* ------------------------------------------
  TYPOGRAPHY
--------------------------------------------- */

h1 {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'metropolis-light', sans-serif;
  font-size: 1.75rem;
  font-weight: inherit;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

h2 {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;
  font-family: 'metropolis-bold', sans-serif;
  font-size: 1.75rem;
  font-weight: inherit;
  line-height: 1;
  text-align: left;
  color: #000;
}

h3 {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;
  font-family: 'metropolis-bold', sans-serif;
  font-size: 1.5rem;
  font-weight: inherit;
  line-height: 1;
  text-align: center;
  color: #000;
}

p {
  display: block;
  margin: 0 0 1rem;
  font-family: 'metropolis-light', sans-serif;
  font-size: 1rem;
  font-weight: inherit;
  line-height: 2;
  color: #000;
}

p:last-child {
  margin: 0;
}

p a {
  font-family: 'metropolis-regular', sans-serif;
  font-weight: inherit;
  text-decoration: none;
  color: #000;
  -moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

p a:hover,
p a:focus {
  opacity: 0.7;
}

@media (min-width: 30em) {h3 {text-align: left;}}

@media (min-width: 41.6875em) {h1 {font-size: 1.75rem;}}

@media (min-width: 48em) {
h1 {font-size: 2.5rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 1.75rem;}
p {
  margin: 0 0 1.5rem;
  font-size: 1.25rem;
}}

@media screen and (min-width: 75em) {
h2 {font-size: 3rem;}
h3 {font-size: 2rem;}}


/* ------------------------------------------
  LOGO
--------------------------------------------- */

.logo {
  display: block;
  width: 60%;
  margin: 2rem auto;
  padding: 0;
}

.logo object, 
.logo img {
	width: 100%;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 48em) {.logo {width: 30%;}}


/* ------------------------------------------
  WELCOME
--------------------------------------------- */

#welcome {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  min-height: 100%;
  padding: 5%;
  background-image: url(../img/bg-welcome.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-touch #welcome {background-attachment: fixed;}

@media screen and (min-width: 48em) {#welcome {background-position: center top;}}

@media screen and (min-width: 64em) {#welcome {background-position: center center;}}


/* ------------------------------------------
  FOOTER
--------------------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 5% 0;
}

footer p {
  margin: 0;
  font-family: 'metropolis-regular', sans-serif;
  font-size: 0.75rem;
  font-weight: inherit;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 48em) {footer {padding: 2.5% 0;}}
